- name: Ensure Docker Registry login
  include_role:
    name: docker_registry

- name: Remove web-ui container (force redeploy)
  community.docker.docker_container:
    name: dearlavion-web-ui
    state: absent
    force_kill: yes

- name: Pull and run Web UI
  community.docker.docker_container:
    name: dearlavion-web-ui
    image: "{{ web_ui_image }}"
    pull: yes
    state: started
    restart_policy: always
    networks:
      - name: dearlavion-net

- name: Reload nginx after service redeploy
  become: true
  command: docker exec dearlavion-nginx nginx -s reload
  ignore_errors: true