version: "3"

services:
  kafka:
    image: apache/kafka:4.1.1
    container_name: {{ kafka_image_name }}
    restart: unless-stopped
    networks:
      - "{{ dearlavion_network }}"
    ports:
      - "{{ kafka_internal_port }}:{{ kafka_internal_port }}"    # internal docker
      - "{{ kafka_external_port }}:{{ kafka_external_port }}"  # host access
      - "{{kafka_controller_port }}:{{kafka_controller_port }}"

    environment:
      - KAFKA_NODE_ID=1
      - KAFKA_PROCESS_ROLES=broker,controller
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER

      # Listeners
      - KAFKA_LISTENERS=PLAINTEXT://:{{ kafka_internal_port }},HOST://:{{ kafka_external_port }},CONTROLLER://:{{kafka_controller_port }}

      # Advertised listeners
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:{{ kafka_internal_port }},HOST://kafka:{{ kafka_external_port }}

      # Protocol map
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,HOST:PLAINTEXT,CONTROLLER:PLAINTEXT

      # Controller quorum
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:{{kafka_controller_port }}

      - KAFKA_LOG_DIRS=/var/lib/kafka/data
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1

    volumes:
      - ./kafka:/var/lib/kafka/data

networks:
  "{{ dearlavion_network }}":
    external: true