version: "3.9"

services:
  nginx:
    image: nginx:1.25-alpine
    container_name: dearlavion-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/dearlavion-app.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - web-ui
      - auth
      - core
    networks:
      - dearlavion-net

  web-ui:
    image: ghcr.io/dearlavion/dearlavion-web-ui:{{ env }}
    container_name: dearlavion-web-ui
    networks:
      - dearlavion-net

  auth:
    image: ghcr.io/dearlavion/dearlavion-auth-service:{{ env }}
    container_name: dearlavion-authentication-service
    networks:
      - dearlavion-net

  core:
    image: ghcr.io/dearlavion/dearlavion-core-service:{{ env }}
    container_name: dearlavion-core-service
    networks:
      - dearlavion-net

networks:
  dearlavion-net:
    external: true
