- name: Install nginx
  become: true
  apt:
    name: nginx
    state: present
    update_cache: yes

- name: Deploy nginx config
  become: true
  template:
    src: dearlavion-app.conf.j2
    dest: /etc/nginx/sites-available/dearlavion-app.conf

- name: Enable nginx site
  become: true
  file:
    src: /etc/nginx/sites-available/dearlavion-app.conf
    dest: /etc/nginx/sites-enabled/dearlavion-app.conf
    state: link
    force: yes

- name: Remove default nginx site
  become: true
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent

- name: Restart nginx
  become: true
  service:
    name: nginx
    state: restarted
